@import "../../template/style/base.css";

header{
  height: 50px;
  z-index: 15;
}

div.sticky {
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  height: 30px;
}
div.sticky a img{
  float: right;
  margin-right: 90px;
  margin-top: -20px;
  padding-top: 0px;
  direction: ltr;
}
div.icons a{
  margin-left: 10%;
  font-size: 15px;

}
div.icons a:first-child{
  margin-left: 2%;
}