// ///@import "bootstr";
//@import "../../template/style/base.css";
// @import "~bootstrap/scss/navbar";
////p.navbar-text{
////   //aria-posinset:'center';
////}
footer {
  background: #212121;
  color: #9d9d9d;
  text-align: center;
  //position: ;
  bottom: 0;
  width: 100%;
  height: 3rem;
  /*min-height: 100vh;*/
}
