// ///@import "bootstr";
//@import "../../template/style/base.css";
// @import "~bootstrap/scss/navbar";
////p.navbar-text{
////   //aria-posinset:'center';
////}
footer {
  background: #212121;
  color: #9d9d9d;
  text-align: center;
<<<<<<< HEAD
  //position: absolute;
=======
  //position: ;
>>>>>>> 268e4b6644c4fab4b7bea7a5e007e9c39fc555fe
  bottom: 0;
  width: 100%;
  height: 3rem;
  /*min-height: 100vh;*/
}
