@import '../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "../../../template/style/base.css";

main{
  min-height:  100vh ;
}
*, *::after, *::before{
  box-sizing: content-box;
}
.form-label {
  text-align:center;
  margin-left:40px;
  color:black;

}
.form-group {
  box-sizing:border-box;

  margin:1% auto;
  text-align:center;
}
input#formBasicEmail.form-control,input#formBasicPassword{
  margin-left: 10px;
  line-height:2em;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  //border-radius:5px;
  text-align:center;
  border-radius:20px;
}


.btn.btn-primary{
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  cursor:pointer;
 //width: 100%;
 // border-radius:0px;
 // //margin-bottom: .5rem;
}