@import '../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap-grid.css";

*, *::after, *::before{
  box-sizing: content-box;
}
main{
  background: #f6f6f6;
}
body{
  height: 100%;
  background: #f6f6f6;
}
div.user_information{
  background: #f6f6f6;
  direction: rtl;
  padding: 0px;
  margin-bottom: 5%;

}
div.username_row,div.user_information_row{
  background: #f6f6f6;
  padding: 0px;
}

div.user_information.col-sm-3{
  background: #96cdd2;
  direction: rtl;
  margin: -17px;
  display: flow-root;
  border: 0px;
  padding: 0px;
  box-shadow: 0px 0px 0px grey;
  //background: inherit;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  -webkit-align-content: center;
  align-content: center;
}

div.user_information.col-sm-3 img {
  width: 200px;
  height: 216px;
  margin: -100px 13px;
  border-radius: 14px;
  border: 5px solid whitesmoke;
  //width: 150px;
  //border-radius: 5px;
}
div.username.col-sm-2{
  background: #f6f6f6;
  font-size: larger;
  box-shadow: 0px 0px 0px grey;
  //place-content:center ;
  font-weight:bold;
  place-content: center;
  text-align: right;
}

div.user_information.col-sm-2{
  place-content: center;
  text-align: right;
  background: #f6f6f6;
  font-size: small;
  box-shadow: 0px 0px 0px grey;
  padding-right: 10px;
  margin-top: -3px;
  color: #707070;
}
div.bio{
  direction: rtl;
  place-content: center;
  text-align: right;
}

div.dropdown{
  width: fit-content;
  direction: rtl;
  place-content: center;
  text-align: right;
}

div.username.col-sm-1{
  font-weight:bold;
  place-content: center;
  text-align: right;
}

button#dropdown-item-button{
  height: 30px;
  width: fit-content;
  background: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #171717;
  text-transform: uppercase;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  cursor: pointer;
  //border-radius:2px;


}

button#dropdown-item-button.dropdown-toggle.btn.btn-primary{
  border: #fcfcfc solid 2px;
  background: #f9f9f9;
  border-radius:2px;
}

button.dropdown-item{
  width: auto;
}


div.dropdown-menu.show{
  place-content: center;
  text-align: right;

}
div.addbutten{
  //margin-left: 200px;
  margin-right: -52%;
  place-content: center;
  text-align: right;
  //margin-right: 10px;
}

div.dropbox.col{
  //background: #f9f9f9;
  padding-left: 0px;
  width: fit-content;
}
button.btn.btn-outline-secondary{
  place-content: center;
  border: #fcfcfc solid 3px;
  border-radius: 4px;
  height: 40%;
}
