@import '../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "../../../template/style/base.css";


li{

}
.col-sm-9{
  text-align: -webkit-right;
  direction: rtl;
}

.title_home{
  font-size: larger;
  //place-content:center ;
  font-weight:bold;
}

.budget{
  font-weight:bold;
  color: #1c7c85;
}
.skills{

}
.skill_title{

}
.time_remain{
  width: fit-content;
  margin-top: 6px;
  background: #e8e8e8;
  color: #8f8f8f;
  font-size: 10px;

  //text-align: left;
}
.firstline{
  width: -webkit-fill-available;
  place-content:center ;
  display: inline-flex;

  //align-content: normal;
}
.col-sm-2{
  width: fit-content;
}
div.col-sm-8 div.card-body{
  border-radius:20px;
  border: whitesmoke 1px;
}
div.card-body.card-body-cascade.text-right.wow.fadeIn {
  //direction: rtl;
  margin-right: 20px;
  padding: 5px;
  background: #ffffff;
  margin-top: -20px;
  margin-bottom: 43px;
  height: fit-content;
  width: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 -2px 10px 0 rgba(0,0,0,.12);
  border-radius:2px;
}
div.card.card-cascade.wider.reverse .card-body.card-body-cascade {
  z-index: 3;
  margin-top: -1rem;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
img{
  width: 106px;
  border-radius:5px;

}

div.search_user.input-group{
  border: 0px;
}
div.search_user.input-group input.form-control{

  place-content: center;
  background: #f9f9f9;
  border:0px;
  direction: rtl;
  border-radius:2px;
}
div.online_user{
  direction: rtl;
}

div.titlejob{
  color: #969696;
}
//.card-body :first-child{
//
//}