
.text-center{
  padding: 20px;
}

  strong{
    padding-right: 1%;
    padding-left: 2%;
  }
h4.buget{
  color: #428c94;
}
h4.winer{
  color: #22b14c;
}
h4.ditail{
  direction: rtl;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade h4  img{
  height: 3%;
  width: 2%;
}
hr{
  border-top: 2px dashed #5ED1DD;
  margin-bottom: 0px;
  margin-left: -11px;
  margin-right: -11px;
}

.row2{
  background: #f9f9f9 ;
  border-bottom-style: groove;
  border-color: #e1e1e1;
  border-radius:1px;
  border-bottom-width: 1px;
  padding-top: 2%;
  width:100%;
  padding: 1%;
  margin:12.5px;
  border-top-style: dashed;
  border-top-color: #3fcedc;
}

.row{
  margin-right: -12px;
  margin-left: -12px;
  padding-top: 2%;
  padding-bottom: 0;

}

h3.skills{
  direction: rtl;
  color: #35828a;
}

div.col-sm-2{
  margin: 5px;
  display: flow-root;
  background: white;
  box-shadow: 0px 0px 4px grey;
  width: 10%;
  height: fit-content;
  align-content: center;
  margin-bottom: 19px;
  border-radius: 4px;
  padding-left: 1%;
}
div.col-sm-3{
  margin: 5px;
  display: flow-root;
  background: white;
  box-shadow: 0px 0px 4px grey;
  width: fit-content;
  height: fit-content;
  align-content: center;
  margin-bottom: 19px;
  border-radius: 4px;
  padding-left: 1%;
}
.skills_{
  font-size: small;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 5px;
}
.points{
  background: #c3edf1;
  margin: 10px 5px;
  width: 30%;
  height: 30%;
  color: #1b6d85;
  border-radius: 4px;
}

.col-sm-2 p{
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 10px 0 10px;
}

h4.warning{
  direction: rtl;
  color: red;
}

.row.row_{

  padding-top: 20px;
  padding-bottom: 20px;

}
.row2.col-sem-2{
  width:70%;
  width:70%;
}
div.col-sem-2{
  height:50%;
}
div.MoneyBage img{
  width: 30px;
  padding-left: 0.8%;
}

div.Deadline img{
  width: 28px;
  padding-left: 0.8%;
}

div.ProjectImg img{
  width: 100%;
  padding-left: 0.8%;
}

div.CheckMark img{
  width: 28px;
  padding-left: 0.8%;
}

div.Danger img{
  width: 40px;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

div.card-body.card-body-cascade.text-right.wow.fadeIn{
  width: 80%;
  margin-left: 10%;
  padding: 0;
}

div.col-sm-9{
  padding-top: 1%;
}

div.points:hover{
  background-color: #ff270c;
  color: white;
}
h4.red-text div.Deadline strong{
  color:red;
}
h4.gray-text div.Deadline strong{
  color : gray;
}

h4.warning div.Tick strong{
  color: #22b14c;
}
h4.warning div.Tick img{
  width: 30px;
  margin-right: 1%;
}
h4.add-offer{
  direction: rtl;
  margin-bottom: 2%;
}
h4.add-offer p{
  font-size: 30px;
}
h4.add-offer div.offer input{
  text-align: right;
  width:23%;
  height:50px;
  margin-right: 1%;
  border: 5px solid #3fcedc;
  border-radius: 9px;
  padding-right: 0.5%;
}
h4.add-offer div.offer label{
  color:#3fcedc;

}
h4.add-offer div.offer button{
  background-color: #00adbe;
  color : white;
  width: 70px;
  height: 50px;
  border: 0;
  border-radius: 4px;
}