
.text-center{
  padding: 20px;
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade{
  margin-top: -120px;
  height: fit-content;
  width: auto;
}
strong{

}
.card.card-cascade.wider.reverse .card-body.card-body-cascade img{
  direction: rtl;
  width: 80%;
}
h4.buget{
  /*font-weight:bold;*/
  color: #428c94;
}
h4.winer{
  /*font-weight:bold;*/
  color: #22b14c;
}
h4.ditail{
  direction: rtl;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade h4  img{
  height: 3%;
  width: 2%;
}
hr{
  border-top: 2px dashed #5ED1DD;
  margin-bottom: 0px;
  margin-left: -11px;
  margin-right: -11px;
}

.row.roww{
  background: #f9f9f9 ;
  /*border-top-style: double;*/
  border-bottom-style: groove;
  border-color: #e1e1e1;
  border-radius:1px;
  border-bottom-width: 1px;


}

.row{
  margin-right: -12px;
  margin-left: -12px;
}

h3.skills{
  direction: rtl;
  color: #35828a;
}

.col-sm-2{
  /* direction: rtl; */
  margin: 5px;
  display: flow-root;
  background: white;
  box-shadow: 0px 0px 4px grey;
  /*box-shadow: aliceblue;*/
  /*width: 12.666667%;*/
  width: fit-content;
  height: fit-content;
  align-content: center;
  margin-bottom: 19px;
  border-radius: 4px;
}
.skills_{
  font-size: small;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 5px;
}
.points{
  background: #c3edf1;
  margin: 10px 5px;
  width: 30%;
  height: 30%;
  color: #1b6d85;
  border-radius: 4px;
}

.col-sm-2 p{
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 10px 0 10px;
}

h4.warning{
  direction: rtl;
  color: red;
}

.row.row_{

  padding-top: 20px;
  padding-bottom: 20px;

}
