<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../style/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family-Satisfy' rel="stylesheet" type="text/css" >
    <meta charset="UTF-8">
    <title>Base</title>

</head>
<body class="cont">
        <header>
            <div class="header-right navbar-fixed-top navbar-default">
                <a class="active" href="#account">حساب کاربری</a>
                <a class="active" href="#exit">خروج</a>
                <a href="#logo"> <img alt="logo" src="../photo/Logo/logov2.png"></a>
            </div>
            <div class="tifani bar">
            </div>
        </header>
        <main>

        </main>
    <footer>
        <nav  class="navbar navbar-inverse navbar-default ">
            <p aria-posinset="center" class = "navbar-text">
                تمامی حقوق متعلق به جاب اونجا می باشد©
            </p>
        </nav>
    </footer>
</body>
</html>